
@*@{
    ViewBag.Title = "Index";
}*@

<h2>Ingreso</h2>
<html>
<head>
    <title>Empresa Gastronomica</title>
</head>
<body>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Datos del cliente</legend>
                        Nombre:<br />
                        <input type="text" id="txtNombre" required /><br /><br />
                        Apellido:<br />
                        <input type="text" id="txtApellido" required /><br /><br />
                        Fecha:<br />
                        <input type="date" id="TxtFecha" />
                    </fieldset><br />

                    <fieldset>
                        <legend>control</legend>
                        <input type="radio" name="control" id="Consulta" />Consulta<br />
                        <input type="radio" name="control" id="Agradecimiento" />Agradecimiento<br />
                        <input type="radio" name="control" id="Reclamo" />Reclamo<br />
                        <input type="radio" name="control" id="Otro" />Otro<br />
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Comentario</legend>
                        <textarea name="txtComentario" id="txtComentario" cols="30" rows="10"></textarea>
                    </fieldset><br />
                    <input type="button" value="Guardar" onclick="guardarDatos()" /><br /><br />
                    <input type="submit" value="Enviar" onclick="enviar()" /><br /><br />
                </div>

            </div>

        </div>
    </form>
</body>
</html>

